/* 
    Document   : closify-admin
    Created on : Oct 28, 2014, 2:48:51 AM
    Author     : aelbuni
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

